<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUFeedURL</key>
    <string>https://lumaxspace.com/updates/tsx/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>hE9ai+/xiB+SIzYZUDyWemAArX6ad7uSc3UxexIarpk=</string>
    <key>SUEnableAutomaticChecks</key>
    <false/>
    <key>SUAutomaticallyUpdate</key>
    <false/>
    <key>SUEnableSystemProfiling</key>
    <false/>
    <key>SUVerifyUpdateBeforeExtraction</key>
    <true/>
    <key>SURequireSignedFeed</key>
    <true/>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>NSScreenCaptureUsageDescription</key>
    <string>Capture only your selected area and recognize text on your Mac. The recognized text is translated by your selected service.</string>
</dict>
</plist>
